{% extends "layout.html" %}

{% block body %}
<div id="about" class="container">
    <h5 class="center">About</h5>
        This is my very first programming project submitted as CS50's final task.
        The idea is to gather best events and places in one website which will help the user to plan his / her free time. 
        Inspiration came from observations of turists and conversations with new expats in Prague and their lack of city "know-how".
        If interested in cooperation / learning, contact me at: lukasz1mroz@gmail.com
   <br><br><br><h5 class="center">Technology</h5>
    Python's Flask for web templating. Then getting FB events through facebook GraphAPI and filtering them with JS function. HTML for content, CSS with bootstrap for visuals and styling.
    <br><br><br><h5 class="center">First release features</h5>
    Providing list of random social events from facebook (connected to my personal FB account). Giving basic filtering options based on activity type. Informing about the project goals and updates.
    <br><br><br><h5 class="center">Next releases</h5>
    In next releases plan to upgrade visual layer (fonts, backgrounds) and extend filtering options (by adding calendar filter and option of choosing the city).
</div>
{% endblock %}
