{% extends "layout.html" %} {% block body %}

<!-- Mock events main page -->

<div class="container">
  <div class="media border p-3">
    <img src="../static/sample-event-pic.png" id="photo" />
    <div class="media-body">
      <h4>
        <small
          ><a class="nav-link">Sample event in... <i>Sample place</i></a></small
        >
      </h4>
      <p id="start_time">30.06.2022</p>
    </div>
  </div>
</div>
<p></p>

{% for event in events['data'] %} {% if event['start_time'] > formatted_now %}

<div class="container">
  <div class="media border p-3">
    <img src="{{ event['cover']['source'] }}" id="photo" />
    <div class="media-body">
      <h4>
        <small
          ><a class="nav-link" href="https://www.facebook.com/events/{{ event['id'] }}"
            >{{ event['name'] }} in... <i>{{ event['place']['name'] }}</i></a
          ></small
        >
      </h4>
      <p id="start_time">{{ event['start_time'] }}</p>
    </div>
  </div>
</div>
<p></p>

{% endif %} {% endfor %} {% endblock %}
