{% extends "layout.html" %}

{% block body %}

{% for event in events['data'] recursive %}
{% if event['start_time'] > formatted_now %}
{% if 'Rave' in event['name'] or 'Agregatik' in event['name'] or 'Stachursky' in event['name'] or 'Kalkbrenner' in event['name'] or 'Fuchs2' in event['place']['name'] or 'Stalin' in event['place']['name'] or 'swim' in event['place']['name'] or 'Nocny' in event['place']['name'] %}

<div class="container">
    <div class="media border p-3">
        <img src="{{ event['cover']['source'] }}" id="photo">
        <div class="media-body">
            <h4><small><a class="nav-link" href="https://www.facebook.com/events/{{ event['id'] }}">{{ event['name'] }} in... <i>{{ event['place']['name'] }}</i></a></small></h4>
            <p id="start_time"> {{ event['start_time'] }} </p>
        </div>
    </div>
</div>
<p></p>

{% endif %}
{% endif %}
{% endfor %}

{% endblock %}